/* 
============= 
PROJECT CSS
=============
*/

/* * * * * */
/* Header  */
/* * * * * */

/* header */
.site-header {
  background-color: var(--altBackgroundColor);
}
.site-header-center {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* brand-logo */
.logo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;

  background-color: var(--static-black);
  color: var(--static-white);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 2px;

  text-align: center;
  user-select: none;
}

/* navbar */
.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-links a {
  /* font-weight: 500; */
  color: var(--altTextColor);
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: var(--accent-5);
}

/* * * * */
/* Main  */
/* * * * */
.main-content {
  padding: 2.5rem 0;
}

/* * * * * * */
/* Sections  */
/* * * * * * */
.section-center {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

/* * * * * * * * */
/* Hero-Section  */
/* * * * * * * * */
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.hero-info {
  flex: 1 1 35rem;
}
.hero-info h1 {
  letter-spacing: -0.02em;
}
.hero-info p {
  font-size: 1.25rem;
}
.hero-info button {
  margin-top: 1rem;
  padding: 0.8rem 0;
}
.hero-img {
  flex: 0 1 25rem;
  max-width: 100%;

  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
  border: 2px solid var(--static-black);
  box-shadow: var(--shadow-3);
  padding: 1.5rem;
  background-color: var(--static-white);
}

/* * * * * * * * */
/* Staff-Section */
/* * * * * * * * */

/* * * * * * * * */
/* Quote-Section */
/* * * * * * * * */

/* * * * * * * * */
/*  Place-Order  */
/* * * * * * * * */

/* * * * * */
/* Footer  */
/* * * * * */
