/* 
============= 
PROJECT CSS
=============
*/

/* * * * * */
/* Header  */
/* * * * * */

/* header */
.site-header {
  background-color: var(--altBackgroundColor);
}
.site-header-center {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* brand-logo */
.logo {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;

  background-color: var(--static-black);
  color: var(--static-white);
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 2px;

  text-align: center;
  user-select: none;
}

/* navbar */
.nav-links {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.nav-links a {
  /* font-weight: 500; */
  color: var(--altTextColor);
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
  transition: color 0.3s ease;
}
.nav-links a:hover {
  color: var(--accent-5);
}

/* * * * */
/* Main  */
/* * * * */
/* .main-content {
  padding: 2.5rem 0;
} */

/* * * * * * */
/* Sections  */
/* * * * * * */
.section-center {
  width: var(--view-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 2.5rem 2rem;
}

/* * * * * * * * */
/* Hero-Section  */
/* * * * * * * * */
.hero-section {
  height: calc(96vh - 11rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--altBackgroundColor);
}
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.hero-info {
  flex: 1 1 35rem;
}
.hero-info h1 {
  font-weight: bold;
  letter-spacing: -0.02em;
}
.hero-info p {
  font-size: 1.25rem;
}
.hero-info button {
  margin-top: 1rem;
  padding: 0.8rem 0;
}
.hero-img {
  flex: 0 1 25rem;
  max-width: 100%;

  border-radius: 255px 15px 225px 15px / 15px 225px 15px 255px;
  border: 2px solid var(--static-black);
  box-shadow: var(--shadow-3);
  padding: 1.5rem;
  background-color: var(--static-white);
}

/* * * * * * * * * * * * * * * * */
/* Staff-Section + Quote-Section */
/* * * * * * * * * * * * * * * * */

/* staff-section + quote-section */
.quote-section {
  background-color: var(--backgroundColorDarker);
}
.quote-section .section-center {
  padding: 5rem 2rem;
}
.quote-container {
  max-width: var(--fixed-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.quote-container .quote-img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 4px solid var(--static-black);
  margin: 3rem 0 2rem;
}
blockquote {
  position: relative;
  padding: 1.25rem 2.5rem;
}
/* The Big Quote Mark */
blockquote::before {
  content: '“';
  position: absolute;
  top: -10px;
  left: 0;
  font-size: 5rem;
  color: var(--accent-5);
  font-family: serif;
  line-height: 1;
}
blockquote p {
  font-size: 1.25rem;
  line-height: 1.6;
  font-style: italic;
  color: #333;
}
figcaption {
  margin-top: 1rem;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
  letter-spacing: var(--letterSpacing);
  font-size: 0.9rem;
}
cite {
  font-style: normal;
  font-weight: normal;
  display: block;
  margin-top: 0.25rem;
  color: #888;
}

/* staff-section */
.staff-section {
  height: calc(75vh);
  display: flex;
  justify-content: center;
  align-items: center;
}
.staff-section .section-center {
  padding: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}
.staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.employee {
  flex: 1 1 16rem;
}
.staff-section .quote-img {
  width: 10rem;
  height: 10rem;
  border: 2px solid var(--static-black);
  margin: 1.5rem 0;
}
/* The Big Quote Mark */
.staff blockquote::before {
  font-size: 4rem;
}
.staff blockquote p {
  font-size: 1rem;
  line-height: 1.5;
}

/* * * * * * * * */
/*  Place-Order  */
/* * * * * * * * */

/* * * * * */
/* Footer  */
/* * * * * */
